<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:component-scan base-package="com.offcn.page.service.impl"></context:component-scan>
    <!-- 指定dubbo发布生产者服务端口-->
  <!--  <dubbo:protocol name="dubbo" port="20884"></dubbo:protocol>
    <dubbo:application name="youlexuan_page_service">
        <dubbo:parameter key="qos.enable" value="false"/>
    </dubbo:application>
    <dubbo:registry address="zookeeper://192.168.188.134:2181"/>
    <dubbo:annotation package="com.offcn.page.service.impl" />-->

    <!-- 配置freemarker属性-->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- 配置模板文件所在目录-->
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
        <!-- 设置编码格式-->
       <!-- <property name="defaultEncoding" value="UTF-8"/>-->
        <property name="freemarkerSettings">
            <!-- 设置默认的编码方式，原先是GBK，需要设置成utf-8 -->
            <props>
                <!--用于解决前端报空指针问题-->
                <prop key="classic_compatible">true</prop>
                <prop key="defaultEncoding">utf-8</prop>
                <prop key="template_exception_handler">rethrow</prop>
            </props>
        </property>
    </bean>
</beans>
